:root {
    --dark-blue: #155BBA;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Utility classes */

.bg_dark_blue {
    background-color: var(--dark-blue);
}

#mobile_logo {
    width: 50px;
}

#sidebar_left {
    width: 70px;
    background-image: url("/img/sidebar-bg.png");
    background-size: cover;
}

@media screen and (min-width: 992px) {

    #sidebar_left {
        width: 130px;
    }
    
}



