* {
    border: 1px dashed red;
}

body {
    height: 100vh;
}

#mobile_logo {
    width: 50px;
}

#sidebar_left {
    background-image: url("/img/sidebar-bg.png");
    background-size: cover;
}

[class*="col-"], .col {
    height: 100px;
}


