/* Variables */

:root {
    --dark-blue: #155BBA;
}

/* Tag level selectors */

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* Utility classes */

.bg_dark_blue {
    background-color: var(--dark-blue);
}

.offcanvas_size {
    --bs-offcanvas-width: min(100vw) !important;
}

/* Id's */

#mobile_logo {
    height: 40px;
}

#large_logo {
    height: 25px;
}

#sidebar_left {
    width: 70px;
    background-image: url("/img/sidebar-bg.png");
    background-size: cover;
}

/* Other selectors */

#sidebar_left li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

table img {
    width: 30px;
}

.fa-bell {
    color: #FF8F00;
}

/* Media queries */

@media screen and (min-width: 768px) {

    table img {
        width: 20px;
    }
    
}

@media screen and (min-width: 992px) {

    #sidebar_left {
        width: 130px;
    }

    .offcanvas_size_lg {
    --bs-offcanvas-width: min(45vw, 600px) !important;
    }
}



